/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header Navigation */
header {
    background-color: #6a6ff5;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #ecf0f1;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Container */
main {
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin: auto;
}
/* Table Styling */
.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #8b8ef6;
    color: rgb(8, 8, 8);
    padding: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #babcf3;
}

tbody td:hover {
    background-color: #fff;
}


tbody tr:nth-child(1) td:first-child,
tbody tr:nth-child(6) td:first-child,
tbody tr:nth-child(9) td:first-child {
    background-color: #afb1f8;
    font-weight: bold;
    font-size: larger;
    color: #0a0a0a;
}


/* Responsive Table */
@media (max-width: 500px) {
    thead th, tbody td {
        display: block;
        width: 100%;
        text-align: left;
    }
    
    tbody td {
        padding-left: 50%;
        position: relative;
    }
    
    tbody td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        font-weight: bold;
    }
}